#root {
  max-width: 98%;
  max-height: 98%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size:5em;
  line-height: 1.6;
}

.app-container {
  border:1px solid;
  border-radius:6px;
  padding:20px;
  width: 600px;
}

.switch-container {
  display: flex;
  flex-direction: row;
  padding-top:40px;
}

.switch-container-column {
  flex-direction: column;
}

.card {
  padding: 2em;
}

.heckinButton {
  height:140px;
  width:300px;
}