#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size:4em;
  line-height: 1.6;
}

.app-container {
  border:1px solid;
  padding:10px;
  border-radius:6px;
}

.switch-container {
  display:flex;
  flex-direction: row;
  padding-top:40px;
}

.switch-container-column {
  flex-direction: column;
}

.card {
  padding: 2em;
}

.heckinButton {
  height:120px;
  width:250px;
}