.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height:100vh;
  width:100vw;
}

.app-title {
  color:gray;
}

.mem-card-container {
  flex-direction:column;
  flex-grow:2;
}

.glyph-container {
  display:flex;
  border:1px solid;
  font-size:calc(1rem + 10vw);
  font-weight:bold;
  margin:10px;
  border-radius:6px;
  height:80%;
  line-height:0;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  word-break:break-word;
}

.switch-container {
  display:flex;
  flex-direction: row;
  padding-top:40px;
  flex-grow:.25;
  padding-left:10px;
  justify-content:center;
}

.switch-container-column {
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:flex-start;
}

.heckinButton {
  height:100px;
  width:80%;
}